.wrapper {
  @include size(80%, 100%);
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .wrapper {
    width: 90%;
    overflow: hidden;
  }
}
