//colors
$white: #fff;
$black: #000;

//fonts
$yanone: 'Yanone Kaffeesatz', sans-serif;

// Breakpoints
$mediaQueries: () !default;

// Font Weights
$fontWeight: (
        light: 100,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        black: 900,
) !default;

