//colors
$white: #fef;
$black: #000;
$grey: #f7f7f7;
$blueText: #01385f;
$formButton: #005c9d;

//fonts
$yanone: 'Yanone Kaffeesatz', sans-serif;
$muli: 'Muli', sans-serif;

// Breakpoints
$mediaQueries: () !default;


