.header {
  @include size(100%, 4.5rem);
  background-color: $black;


  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;

    .logo {
      color: #ffffff;
      font: 3.9rem / 1 $yanone;
      text-transform: uppercase;
      letter-spacing: 0.97px;
    }

    .nav-list {
      color: $white;

      .nav-item {
        display: inline-block;
        font: 1.8rem / 1 $yanone;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 4rem;
        }

        &.nav-item-isActive {
          border-bottom: 2px solid $white;
        }
      }
    }

    .search-input {
      position: relative;

      input {
        @include size(26rem, 2.6rem);
        margin-top: 4px;
        padding-left: 15px;
        text-transform: uppercase;
      }

      .icon-search {
        position: absolute;
        top: 8px;
        right: 6px;
        width: 1.8rem;
      }
    }
  }
}
