/**
 * Size an Element
 *
 * @param {number} $width (1em) - Width of the element
 * @param {number} $height ($width) - Height of the element
 */
/**
 * Offset
 *
 * @param {number} $top (0) - Top Offset
 * @param {number} $left (0) - Left Offset
 */
html {
  font-size: 10px; }

body, ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

input, textarea {
  border: 0;
  outline: none; }

h1 {
  font: 7rem/1 "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font: 5rem/1 "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  font: 4rem/1 "Yanone Kaffeesatz", sans-serif; }

.wrapper {
  height: 100%;
  width: 80%;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box; }

@media (max-width: 599px) {
  .wrapper {
    width: 90%; } }
.header {
  height: 4.5rem;
  width: 100%;
  background-color: #000; }
  .header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box; }
    .header .header-wrapper .logo {
      color: #ffffff;
      font: 3.9rem/1 "Yanone Kaffeesatz", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.97px; }
    .header .header-wrapper .nav-list {
      color: #fef; }
      .header .header-wrapper .nav-list .nav-item {
        display: inline-block;
        font: 1.8rem/1 "Yanone Kaffeesatz", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer; }
        .header .header-wrapper .nav-list .nav-item:not(:last-child) {
          margin-right: 4rem; }
        .header .header-wrapper .nav-list .nav-item.nav-item-isActive {
          border-bottom: 2px solid #fef; }
    .header .header-wrapper .search-input {
      position: relative; }
      .header .header-wrapper .search-input input {
        height: 2.6rem;
        width: 26rem;
        margin-top: 4px;
        padding-left: 15px;
        text-transform: uppercase; }
      .header .header-wrapper .search-input .icon-search {
        position: absolute;
        top: 8px;
        right: 6px;
        width: 1.8rem; }

.hero {
  height: 35rem;
  width: 100%;
  position: relative;
  background: url("../../public/images/hero-image.jpg"); }
  .hero .hero-titles {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    padding: 3.5rem 0;
    transform: translate(-50%, -50%);
    color: #fef;
    background: rgba(0, 0, 0, 0.5);
    text-align: center; }

.apply-wrapper {
  padding: 6rem 0;
  background-color: #f7f7f7; }
  .apply-wrapper .cta-title {
    margin-bottom: 6rem; }
  .apply-wrapper .form-note {
    display: block;
    font: 1.6rem/1 "Muli", sans-serif;
    margin-bottom: 2rem; }
  .apply-wrapper .personal-form {
    position: relative;
    margin-bottom: 4.8rem; }
    .apply-wrapper .personal-form .inputs-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%; }
      .apply-wrapper .personal-form .inputs-wrapper input {
        height: 4.2rem;
        width: 100%;
        display: block;
        flex: 0 0 47%;
        font: 1.3rem/1 "Muli", sans-serif;
        margin-bottom: 2rem;
        padding-left: 1.3rem; }
  .apply-wrapper .motivation-form {
    width: 47%; }
    .apply-wrapper .motivation-form textarea {
      width: 100%; }

/*# sourceMappingURL=main.css.map */
