.apply-wrapper {
  padding: 6rem 0;
  background-color: $grey;

  .cta-title {
    margin-bottom: 6rem;
  }

  .form-note {
    display: block;
    font: 1.6rem / 1 $muli;
    margin-bottom: 2rem;
  }

  .label {
    font: 1.3rem / 1 $muli;
  }

  .personal-form {
    position: relative;
    margin-bottom: 4.8rem;
  }

  .motivation-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .textarea-wrapper {
      flex: 0 0 47%;

      textarea {
        width: 98%;
        resize: none;
        padding: 1.6rem 0 0 1.3rem;
        font: 1.3rem / 1 $muli;
        color: $blueValid;
      }
    }

    .attach-wrapper {
      flex: 0 0 47%;

      .block-wrapper {
        height: 5rem;

        .label {
          display: inline-block;
          margin-top: 1.5rem;
        }
      }
    }
  }

  .apply-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;

    .back-btn {
      display: block;
      font: 1.3rem / 1 $muli;
      color: $greyText;
      text-decoration: none;
    }

    .apply-cta {
      flex: 0 0 47%;

      .send-copy {
        display: inline-block;
        margin: {
          right: 0.6rem;
          bottom: 2rem;
        }
      }
    }

    label {
      color: $darkGrey;
      font: 1.3rem / 1 $muli;
    }
  }
}

@media (max-width: 991px) {
  .apply-wrapper {

    .motivation-form {
      flex-direction: column;

      .textarea-wrapper {
        margin-bottom: 4.8rem;
      }

      .attach-wrapper {

        .block-wrapper {
          height: auto;

          .label {
            display: block;
            padding-bottom: 1rem;
          }
        }
      }
    }

    .apply-footer {
      flex-direction: column;
      padding-top: 3rem;

      .apply-cta {
        padding-top: 2rem;

        .send-copy {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .apply-wrapper {

    .personal-form {

      .inputs-wrapper {
        flex-direction: column;
      }
    }
  }
}

