.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 3rem 0 6rem;
  border-top: 1px solid $grey;

  .footer-block {
    padding-top: 2rem;

    .footer-blockTitle {
      font: 1.6rem / 1 $muli;
      color: $darkGrey;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }

    .link-list, .sm-list {

      li {
        height: 3rem;
        a {
          color: $greyText;
          font: 1.3rem / 1 $muli;
          text-decoration: none;
        }
        .social-link {
          padding-left: 1rem;
        }
      }
    }

    .sm-list {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      img {
        transform: translateY(3px);
      }
    }

    .footer-cta {
      color: $greyText;
      font: 1.3rem / 1 $muli;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;

    .footer-block {

      .sm-list {
        text-align: left;
      }
    }
  }
}
