.info-block {
  @include size(100%, 40rem);
  padding: 6.5rem 0;
  background: url('../../images/info-bg.jpg') center no-repeat / cover;
  box-sizing: border-box;

  .info-wrapper {
    @include offset(50%, 50%);
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 3rem 3.5rem 3.5rem;
    transform: translate(-50%, -50%);
    background: $pureWhite;
    box-sizing: border-box;

    .info-title {
      color: $black;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 2.5rem;
    }

    .info-content {
      margin-right: 10%;


      .info-description {
        margin-left: 2rem;

        li {
          list-style-type: inherit;
          color: $darkGrey;
          margin-top: 1rem;
          font: 1.3rem / 1 $muli;
        }
      }
    }

    .feedback-content {
      span {
        display: block;
        font: 1.3rem / 1 $muli;
      }

      .cta {
        font: 1.6rem / 1 $muli;
        color: $darkGrey;
        margin-bottom: 2.5rem;
      }

      .tel {
        color: $darkGrey;
        margin-top: 1rem;
      }

      .email {
        line-height: 2.2rem;
        a {
          color: $greyText;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .info-block {

    .info-wrapper {

      .info-content {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 599px) {
  .info-block {
    height: 50rem;
  }
}
