body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'size'.\A         on line 2 of scss/sections/info.scss, in `size'\A         from line 2 of scss/sections/info.scss\A \A 1: .info-block {\A 2:   @include size(100%, 40rem);\A 3:   padding: 6.5rem 0;\A 4:   background: url('../../public/images/info-bg.jpg') center no-repeat / cover;\A 5:   box-sizing: border-box;\A 6: \A 7:   .info-wrapper {"; }
